In [1]:
import json
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
resources_path = "resources/"
lotto_numbers_histories_file_path = resources_path + "lotto_numbers_histories.json"

In [3]:
with open(lotto_numbers_histories_file_path) as f:
    lotto_df = pd.DataFrame(json.loads(line) for line in f)

In [5]:
lotto_df.head(10)

,totSellamnt,returnValue,drwNoDate,firstWinamnt,drwtNo6,drwtNo4,firstPrzwnerCo,drwtNo5,bnusNo,firstAccumamnt,drwNo,drwtNo2,drwtNo3,drwtNo1
0,3.681782e+09,success,2002-12-07,0.000000e+00,40.0,33.0,0.0,37.0,16.0,8.636046e+08,1.0,23.0,29.0,10.0
1,4.904274e+09,success,2002-12-14,2.002007e+09,42.0,25.0,1.0,32.0,2.0,0.000000e+00,2.0,13.0,21.0,9.0
2,4.729342e+09,success,2002-12-21,2.000000e+09,31.0,21.0,1.0,27.0,30.0,0.000000e+00,3.0,16.0,19.0,11.0
3,5.271464e+09,success,2002-12-28,0.000000e+00,42.0,31.0,0.0,40.0,2.0,1.267147e+09,4.0,27.0,30.0,14.0
4,6.277102e+09,success,2003-01-04,0.000000e+00,42.0,40.0,0.0,41.0,3.0,3.041095e+09,5.0,24.0,29.0,16.0
5,1.530536e+10,success,2003-01-11,6.574452e+09,42.0,27.0,1.0,40.0,34.0,0.000000e+00,6.0,15.0,26.0,14.0
6,1.279489e+10,success,2003-01-18,0.000000e+00,40.0,25.0,0.0,26.0,42.0,2.600913e+09,7.0,9.0,16.0,2.0
7,2.075145e+10,success,2003-01-25,0.000000e+00,39.0,34.0,0.0,37.0,9.0,7.336896e+09,8.0,19.0,25.0,8.0
8,7.362402e+10,success,2003-02-01,0.000000e+00,39.0,17.0,0.0,36.0,14.0,2.580385e+10,9.0,4.0,16.0,2.0
9,2.608564e+11,success,2003-02-08,6.430438e+09,44.0,33.0,13.0,41.0,6.0,0.000000e+00,10.0,25.0,30.0,9.0

In [9]:
lotto_df_type_dict = {
    'totSellamnt': 'int64', 
    'returnValue': 'String', 
    'drwNoDate': 'String',
    'firstWinamnt': 'int64',
    'firstAccumamnt': 'int64',
    'firstPrzwnerCo': 'int32',
    'drwNo': 'int32',
    'drwNo1': 'int32',
    'drwNo2': 'int32',
    'drwNo3': 'int32',
    'drwNo4': 'int32',
    'drwNo5': 'int32',
    'drwNo6': 'int32',
    'bnusNo': 'int32'
}

In [10]:
lotto_df.astype(lotto_df_type_dict).dtypes

KeyError: 'Only a column name can be used for the key in a dtype mappings argument.'